
@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline');
body{
    -webkit-transform: scale(0.9);
}
.header {
  font-family: 'Kumar One Outline';
  font-size: 70px;
  text-transform: uppercase;
}
.btn, label {
  font-family: 'Noto Serif', serif;
}

.display, Form {
  display: flex;
}
.input {
  width: 40%;
  margin: 10px;
}
.currency {
  width: 40%;
  margin: 10px;
}
.button {
  margin-bottom: 49px;
  margin-top: 42px;
}
input.form-control.form-control {
    background: inherit;
}
.btn-group>.btn:first-child {
    background: inherit;
    color: black;
}
.image {
  background-image: url("currency.jpg");
  color: black;
  background-size: cover;
}
